
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTC--</title>

    <!-- Box Icons  -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlataformaEducativa.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/884c042846.js" crossorigin="anonymous"></script>
    <!-- Styles  -->

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="sidebar close">
        <a href="#" class="logo-box">

            <img class="klk" src="/img/descarga.png" alt="">


            <div class="logo-name">CTC</div>

        </a>
        <!-- ========== Logo ============  -->
        @if (User.IsInRole("Facilitador"))
            @await Html.PartialAsync("../Usuario/VistaRolesParcial/FacilitadorPartial")

        @if(User.IsInRole("Admin"))
            @await Html.PartialAsync("../Usuario/VistaRolesParcial/_AdminPartial");

        @if(User.IsInRole("Supervisor"))
            @await Html.PartialAsync("../Usuario/VistaRolesParcial/_SupervisorPartial")
    ;
    ;
        @if (User.IsInRole("Gestor"))
            @await Html.PartialAsync("../Usuario/VistaRolesParcial/_GestorPartial"); 
     
           

    </div>
    

    <!-- ============= Home Section =============== -->
    <section class="home">
        <div class="toggle-sidebar">
            <i class='bx bx-menu'></i>

        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()

               
            </main>
        </div>
        

    </section>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Administracion de Centros <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Link JS -->
    <script src="/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  

    @await RenderSectionAsync("Scripts", required: false)
   
</body>

</html>
