@model PlataformaEducativa.Models.ModelsView.InstitucionesModelView;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form class="FormEdit" asp-action="editar" asp-controller="Instituciones">
   
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-title">
        <h5>Editar Centros</h5>
    </div>
    <input type="hidden" name="InstitucionesId" value="@Model.InstitucionesId" />
    <div>
        <label class="custom-control-label" asp-for="Nombre"></label>
        <input class="form-control" asp-for="Nombre"/>
        <span asp-validation-for="Nombre"></span>
    </div>
    <div class="mb-3">
        <label class="custom-control-label" asp-for="Municipios"></label>
        <select class="form-select" asp-for="MunicipioSelect" name="MunicipioSelect">
            @foreach (var i in Model.Municipios)
            {
                if (i.MunicipioName == Model.MunicipioSelect)
                {
                    <option selected>
                        @i.MunicipioName
                    </option>
                }
                else
                {
                    <option >
                        @i.MunicipioName
                    </option>
                }
            }
        </select>
        <span asp-validation-for="Municipios"></span>
    </div>
    <div>
        <label class="custom-control-label" asp-for="Direccion"></label>
        <textarea class="form-control" asp-for="Direccion"></textarea>
        <span asp-validation-for="Direccion"></span>
    </div>
    <div class="DivbtnEdit">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
